/* General Navbar Styling */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem .7rem;
  background: linear-gradient(90deg, #004d99, #1564b4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

/* Logo */
.logo h1 {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

/* Nav Links */
.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-links li {
  margin: 0 1.5rem;
}

.nav-links li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover Effect on Nav Links */
.nav-links li a:hover {
  color: #021157; /* Change the color to a warm orange */
  transform: scale(1.1); /* Slightly enlarges the text */
  transition: all 0.3s ease; }

  .cv-download a {
    display: inline-block;
    background: linear-gradient(90deg, #0072ff, #00c6ff); /* Gradient matching your color theme */
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 24px;
    font-size: 14px;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .cv-download a:hover {
    background: #021157; /* Hover color */
    transform: translateY(-5px);
  }
  
