/* General Navbar Styling */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem .7rem;
  background: linear-gradient(90deg, #004d99, #1564b4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

/* Logo */
.logo h1 {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

/* Nav Links */
.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 0 1.5rem;
}

.nav-links li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover Effect on Nav Links */
.nav-links li a:hover {
  color: #021157; /* Change the color to a warm orange */
  transform: scale(1.1); /* Slightly enlarges the text */
  transition: all 0.3s ease; }

/* CV Download Button */
.cv-download a {
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cv-download a:hover {
  background-color: #021157; /* Change the background color to the same orange */
  color: white; /* Text becomes white */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adds a shadow for a floating effect */
  transform: scale(1.05); /* Slightly enlarges the button */
  transition: all 0.3s ease; 
}
