.projects-section {
    height: 100vh;
    padding: 2rem;
    background-color: #ccc;
    text-align: center;
  }
  
  .projects {
    display: flex;
    justify-content: space-around;
  }
  
  .project {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 30%;
  }
  